.form-container {
    padding: 16px;
  }
  
  .map-container {
    height: 300px; /* Ajuste conforme necessário */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  ion-card {
    margin-top: 16px;
  }
  