<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/mytravel.webp" alt="Logo MyTravel" style="height: 40px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <h1>Bem-vindo à MyTravel!</h1>
    <p>Explore, planeje e compartilhe suas viagens de forma fácil e rápida.</p>
    <ion-button expand="full" routerLink="/list-travels">Ver Viagens</ion-button>
    <ion-button expand="full" routerLink="/create-travel">Criar Viagem</ion-button>
    <ion-button expand="full" routerLink="/local">Criar Local</ion-button>
  </div>
</ion-content>