<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botão para abrir o menu -->
    </ion-buttons>
    <div style="display: flex; align-items: center;">
      <img src="assets/img/mytravel.webp" alt="Logo MyTravel" style="height: 40px; margin-right: 10px;">
      <ion-title>Lista de Viagens</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let travel of travels"> <!-- Use 'travel' aqui -->
      <ion-label>
        <h2>{{ travel.description }}</h2>
        <p>Tipo: {{ travel.type }}</p>
        <p>Estado: {{ travel.state }}</p>
      </ion-label>
      <ion-button (click)="goToUpdateTravel(travel.id)" color="warning">Atualizar</ion-button>
      <ion-button (click)="deleteTravel(travel.id)" color="danger">Deletar</ion-button>
      <ion-button (click)="goToDetailsTravel(travel.id)" color="primary">Ver Detalhes</ion-button> <!-- Botão para ver detalhes -->

      <!-- Campo para adicionar comentários -->
      
    </ion-item>
  </ion-list>
</ion-content>