<ion-header>
  <ion-toolbar>
    <ion-title>Locais da Viagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addLocation()">
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input [(ngModel)]="newLocation.description" name="description" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Adicionar Local</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let location of locations">
      <ion-label>
        <h2>{{ location.description }}</h2>
        <p>Tipo: {{ location.type }}</p>
        <p>Estado: {{ location.state }}</ p>
      </ion-label>
      <ion-button (click)="deleteLocation(location.id)" slot="end" color="danger">Deletar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>