<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botão para abrir o menu -->
    </ion-buttons>
    <ion-title>Lista de Locais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let local of local"> <!-- Use 'local' aqui -->
      <ion-label>
        <h2>{{ local.description }}</h2>
        <p>Tipo: {{ local.type }}</p>
        <p>Estado: {{ local.state }}</p>
      </ion-label>
      <ion-button (click)="goToUpdateLocal(local.id)" color="warning">Atualizar</ion-button>
      <ion-button (click)="deleteLocal(local.id)" color="danger">Deletar</ion-button>

      <!-- Campo para adicionar comentários -->
      
    </ion-item>
  </ion-list>
</ion-content>